<div>
	<div class="cotainer col-sm-6 col-sm-6" id="pic" style="padding-top:50px;"><img src="http://static1.squarespace.com/static/54f0d784e4b0b0738bdb6e14/t/56411430e4b06f94eb0bdc85/1447105603300/sp2.jpg?format=500w" style="padding:20px;width:433px;height:457px;"></img>
</div>
		<div class="cotainer col-sm-6 col-sm-6" id="info" style="padding-top:50px;">
			<h2>About Me</h2>
			<p style="text-align:left;">Hello! My name is Chengsu Chen and I'm currently a Senior at the University of Washington in Seattle. I am an Informatics student with a focus in Human-Computer Interaction and also a Marketing student at the Michael G. Foster School of Business. </p>

			<p style="text-align:left;">I am currently expanding my UX/UI skills as an intern at <a href="http://www.comr.se">Commerce</a>. I have been a freelancer for a short period of time and have found my passion in expressing my personal creative style. When I'm not busy learning web development or designing, I volunteer as an Associate at <a href="http://www.startuphall.org/">Startup Hall</a> and as a Mobile UX Designer for <a href="http://www.tedxuofw.com/">TedxUofW</a>. My goal is to learn what it takes to bring startups from ideation to creation.</p>

			<p style="text-align:left;">Aside from my education at UW, I have had the privilege of studying abroad at East China Normal University (华师大) in Shanghai and partook in a design <a href="https://ischool.uw.edu/feature-stories/designing-across-borders-ischool-goes-china">exploration seminar</a> at Peking University (北大) in Beijing. I have also been able to intern at companies like Coca-Cola, State Farm Insurance, and Boeing.</p>

			</p style="text-align:left;">Hobbies: Design, Traveling, Volunteering, Cooking (does eating count...?)</p>
			</div>
</div>